<script type="module" src="../../public/js/home.js"></script>

<div class="accueil_background">

    <div class="information_accueil">
        <span>{{heureOuverture}}</span>
        <div>
            {{{slogan}}}
        </div>
        <button><a href="/menu">Commander</a></button>
    </div>
</div>

