<footer>
    <div class="footer">
        <div class="logo">
            <img src="/public/img/logo.png" alt="LOGO">
        </div>
        <div>
            <h1>LIENS UTILES</h1>
            <ul class="secondaireColor liens">
                <li>Acceuil</li>
                <li>Menu</li>
                <li>Commande</li>
                <li>Panier</li>
                <li>About</li>
            </ul>
        </div>
        <div>
            <h1>CONTACTS</h1>
            <h2>Horaires</h2>
            <ul>
                <li>Lundi-Dimanche</li>
                <li>11:00-00:00</li>
            </ul>
            <h2>Address</h2>
            <p>801 Aviation Pkwy, Ottawa</p>

        </div>
        <div>
            <h1>NOUS JOINDRE</h1>
            <ul>
                <li>
                    <a href="tel:+1234567890" class="tel">+1 (234) 567-890</a>
                </li>
                <li>
                    <a href="tel:+9999999999" class="tel">+9 (999) 999-999</a>
                </li>
            </ul>
        </div>
      
        
    </div>
    <div class="copyright secondaireColor">
        &copy; Collège La Cité | 2AMK
    </div>
</footer>
